*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Стилизация header */

.header {
    background-color: #fff;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 36px 150px;
}

.logo {
    font-size: 25px;
    font-weight: 500;
}

.logo span {
    font-weight: 600;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 30px;
}

.header__link {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #1b1a1a;
}

.header__btn {
    padding: 11px 20px;
    background-color: #1B1A1A;
    border-radius: 14px;
    margin-left: 31px;
}

.header__btn {
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #fff;
}

/* Стилизация секции Home */

.home {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: stretch;
    background-color: #ECE7E4;
}

.home__information {
    width: 50%;
    padding: 137px 100px;
}

.home__logo {
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #645c55;
}

.home__title {
    margin-bottom: 18px;
    max-width: 417px;
}

.home__title-text {
    font-weight: 400;
    font-size: 64px;
    line-height: 110%;
    color: #1b1a1a;
}

.home__description {
    max-width: 519px;
    margin-bottom: 30px;
}

.home__description-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #403e3b;
}

.home__btn-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #1b1a1a;
}

.home__picture {
    width: 50%;
}

.home__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Стилизация секции Our */

.our {
    display: flex;
    justify-content: center;
}

.our__container {
    display: flex;
    margin-top: 100px;
    gap: 132px;
}

.our__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 119%;
    color: #403e3b;
}

.our__text {
    max-width: 493px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #403e3b;
}

.our__person {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.our__person-info {
    padding: 0px 30px;
}

.our__person-name-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 153%;
    color: #1b1a1a;
}

.our__person-post-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #645c55;
}

/* Стилизация секции reeding  */

.reeding {
    margin-top: 130px;
}

.reeding__container {
    background-image: url('../images/reeding-house.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    height: 600px;
    width: 100%;
    display: flex;

    flex-direction: column; 
    justify-content: center;
    align-items: flex-end;      
    padding-right: 75px;
}

.reeding__title {
    padding-right: 154px;
    margin-bottom: 5px;
}

.reeding__title-text {
    font-size: 14px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #645c55;
}

.reeding__desc {
    max-width: 285px;
}

.reeding__desc-text {
    font-size: 16px;
    line-height: 150%;
    color: #403e3b;
    max-width: 285px; 
}

/* Стилизация секции Process */

.process { 
    margin-top: 100px;
}

.process__info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.process__sub-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #645c55;

    margin-bottom: 13px;
}

.process__title {
    font-weight: 400;
    font-size: 39px;
    line-height: 108%;
    text-align: center;
    color: #1b1a1a;
}


.process__card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    margin: 50px 0;
}

.process__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.process__item-title {
    font-weight: 400;
    font-size: 17px;
    line-height: 153%;
    text-align: center;
    color: #403e3b;

    margin-top: 15px;
    margin-bottom: 10px;
}

.process__item-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #645c55;
    width: 292px;
}

/* Стилизация секции marble */

.marble {
    margin-top: 130px;
}

.marble__container {
    background-image: url('../images/marble.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    height: 600px;
    width: 100%;
    display: flex;

    flex-direction: column; 
    justify-content: center;
    align-items: flex-end;      
    padding-right: 75px;
}

.marble__title {
    padding-right: 154px;
    margin-bottom: 5px;
}

.marble__title-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #403e3b;
}

.marble__desc {
    max-width: 285px;
}

.marble__desc-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #645c55;
}

/* Стилизация секции Customers */

.customer__container {
    display: flex;
    min-height: 400px;
    background-color: #403E3B;
    justify-content: center;
    padding-left: 140px;
    padding-right: 300px;
    padding-top: 125px;
    padding-bottom: 125px;
    align-items: center;
    gap: 150px;
}

.customer__sub-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #ece7e4;
}

.customer__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 119%;
    color: #fff;
    margin-bottom: 15px;
}

.customers__desc {
    max-width: 450px;

    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #ece7e4;
}

.customers__brands {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 96px;
    max-width: 355px;
}

/* Стилизация секции swirling */ 

.swirling__container {
    background-image: url('../images/swirling.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    height: 600px;
    width: 100%;
    display: flex;

    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;      
    padding-left: 75px;
}

.swirling__title {
    padding-right: 154px;
    margin-bottom: 5px;
}

.swirling__title-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #403e3b;
}

.swirling__desc {
    max-width: 285px;
}

.swirling__desc-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #645c55;
}

/* Стилизация секции Features */

.featured__container {
    padding-top: 120px;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 200px;
    background-color: #F7F7F7;
}

.feature__content {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 40px;
}

.feature__title {
    font-weight: 400;
    font-size: 39px;
    line-height: 108%;
    color: #1b1a1a;

    margin-bottom: 15px;
}

.feature__desc {
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    color: #645c55;

    max-width: 580px;
}

.feature__projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(500px, auto); 
    gap: 15px;
}

.card {
    padding: 40px 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.feature-card1 {
    background-image: url(../images/card1.svg);
}

.feature-card2 {
    background-image: url(../images/card2.svg);
}

.feature-card3 {
    background-image: url(../images/card3.svg);
}

.newyork__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #645c55;
}

.newyork__title {
    font-weight: 400;
    font-size: 23px;
    line-height: 130%;
    color: #403e3b;
    margin-bottom: 400px;
}

.feature__btn {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 15px;
}

.feature__bottom {
    display: flex;
    justify-content: center;
    padding-top: 50px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #1b1a1a;
}

/* Стилизация секции Meet */
.meet {
    display: flex;
    justify-content: center;
}

.meet__container {
    padding: 100px 10px;
    display: flex;
}

.meet__content {
    margin-right: 50px;
}

.meet__title {
    font-weight: 400;
    font-size: 32px;
    line-height: 119%;
    color: #403e3b;
}

.meet__desc {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #645c55;

    max-width: 360px;
    margin-bottom: 40px;
}

.meet__btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #1b1a1a;
}

.meet_persons-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 150px; /
}

.meet__person {
  display: flex;
  align-items: center;
}

.meet__person-info {
    padding: 0px 30px;
}

.meet__person-name-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 153%;
    color: #1b1a1a;
}

.meet__person-post-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #645c55;
}

/* Стилизация секции Think */

.think {
    min-height: 315px;
    background-color: #CEC4BC;
}

.think__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 136px 100px;
}

.think__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #645c55;
}

.think__title {
    font-weight: 400;
    width: 560px;
    font-size: 40px;
    line-height: 105%;
    color: #1b1a1a;
}

.think__btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #1b1a1a;
}

/* Стилизация секции footer */

.footer__container {
    display: flex;
    justify-content: space-between;
    padding: 60px 140px;
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #645c55;
}

.footer__social {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}
